/* інформація для питання: бачив, що використовують стилі із input[type="checkbox"].клас, чи це обов'язково? Аналогічно із label замість класу */
/* користувався ChatGPT і https://github.com/WebDevSimplified/css-slider-toggle/tree/main */
body {
  background-color: #ffffff;
  font-size: 50px;
}

.toggle {
  width: 10em;
  height: 5em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 2em;
}

.toggle_background {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 2.5em;
  background-color: #0088ff;
  z-index: -1;
}

.toggle_switch {
  display: block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
  perspective: 100em;
  margin: 1.25em;
}

.face {
  width: inherit;
  height: inherit;
  position: absolute;
  border: 0.02em solid #fff;
}

.side-1 {
  transform: translateZ(1.25em);
  background-color: #e74c3c;
}

.side-2 {
  transform: rotateY(90deg) translateZ(1.25em);
  background-color: #3498db;
}
.side-3 {
  transform: rotateY(180deg) translateZ(1.25em);
  background-color: #2ecc71;
}
.side-4 {
  transform: rotateY(-90deg) translateZ(1.25em);
  background-color: #f39c12;
}
.side-5 {
  transform: rotateX(90deg) translateZ(1.25em);
  background-color: #9b59b6;
}
.side-6 {
  transform: rotateX(-90deg) translateZ(1.25em);
  background-color: #34495e;
}

.toggle:hover .toggle_background {
  background-color: #086605;
  transition: background-color 0.5s linear;
}

.toggle:hover .toggle_switch {
  transform: translateX(5em) rotateX(45deg) rotateY(180deg) rotateZ(135deg);
  transition: transform 1s ease;
}

.toggle:hover::before {
  background-color: #ffbb00;
}
