/* Сховати оригінальний чекбокс */
.checkbox {
  display: none;
}

/* інформація для питання: бачив, що використовують стилі із input[type="checkbox"].клас, чи це обов'язково? Аналогічно із label замість класу */
/* користувався ChatGPT і https://github.com/WebDevSimplified/css-slider-toggle/tree/main */
/* Наразі в перемикачі лише зміщується слайдер */

/* Стилізація позначки у перемикач */
.label {
  display: inline-block;
  width: 10em;
  height: 5em;
  background-color: #ccc;
  border-radius: 2.5em;
  position: relative;
  cursor: pointer;
}

/* Стилізація позначки у слайдер */
.label::after {
  content: "";
  display: block;
  width: 4em;
  height: 4em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  transition: transform 0.5s ease-in-out;
}

/* Зміна положення позначки при увімкненні чекбокса */
.checkbox:checked + .label::after {
  transform: translateX(5em);
}
