/* інформація для питання: бачив, що використовують стилі із input[type="checkbox"].клас, чи це обов'язково? Аналогічно із label замість класу */
/* користувався ChatGPT і https://github.com/WebDevSimplified/css-slider-toggle/tree/main */
body {
  background-color: #ffffff;
  font-size: 18px;
}

/* .checkbox {
  display: none;
}

.switch {
  display: inline-block;
  width: 10em;
  height: 5em;
  margin: 2em;
  background-color: #0088ff;
  border-radius: 2.5em;
  position: relative;
  cursor: pointer;
}

.switch::after {
  content: "";
  display: block;
  width: 4em;
  height: 4em;
  background-color: #ffff00;
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  transition: transform 0.5s ease;
}

.checkbox:checked ~ .switch::after {
  transform: translateX(5em);
  background-color: #ffff00;
  transition: transform 0.5s ease;
}

.checkbox:checked ~ .switch {
  background-color: #555555;
  transition: transform 0.5s ease;
  overflow: hidden;
  /* z-index: 9999; */
}

/* .checkbox ~ .rotate:hover {
  position: absolute;
  top: 0.5em;
  /* left: 0.5em; */
  /* z-index: 9995; */
  /* width: 4em;
  height: 4em;
  margin: 2em;
  background: linear-gradient(to right, rgb(90, 90, 90), #ffff00);
  border-radius: 2.5em;
  transform: rotatey(45deg) translateX(5em);
  transition: transform 0.5s ease;
}
.sun {


